<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-4.0.0.min.js" crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/chart.js@4.5.1/dist/chart.umd.min.js"></script>

	<link rel="stylesheet" href="/css/styles.css">
	<link rel="icon" type="image/png" href="https://static.octopuscdn.com/favicons/favicon-32x32.png?v=20210127" sizes="32x32" />
	<link rel="icon" type="image/png" href="https://static.octopuscdn.com/favicons/favicon-16x16.png?v=20210127" sizes="16x16" />

	<meta property="og:site_name" content="Octotrack" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Octotrack" />
	<meta property="og:description" content="Check out today (and tomorrow's) energy prices on the Agile tariff" />
	<meta property="og:url" content="https://octopus.dannyvalz.com/" />
	<meta property="og:image" content="https://assets.danny-valentine.com/image/upload/v1777124331/perm/octotrack.png" />

	<title>Octotrack</title>
</head>

<body>
	<div class="container">
